<table>
   <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>e-mail</th>
      <th>Nota 1</th>
      <th>Nota 2</th>
      <th>Nota 3</th>
      <th>Média</th>
   </tr>
   <tr *ngFor="let a of alunos">
      <td>{{a.nome}}</td>
      <td>{{a.cpf}}</td>
      <td>{{a.email}}</td>
      <td class="nota">
         <input [(ngModel)]="a.notas['nota1']" (change)="a.media=atualizarAluno(a)" type="number" step="0.01" max="10" min="0"
            id="{{a.cpf}} nota1">
         <button (click)="a.media=removerNota(a,'nota1')">Remover</button>
      </td>
      <td class="nota">
         <input [(ngModel)]="a.notas['nota2']" (change)="a.media=atualizarAluno(a)" type="number" step="0.01" max="10" min="0">
         <button (click)="a.media=removerNota(a,'nota2')">Remover</button>
      </td>
      <td class="nota">
         <input [(ngModel)]="a.notas['nota3']" (change)="a.media=atualizarAluno(a)" type="number" step="0.01" max="10" min="0">
         <button (click)="a.media=removerNota(a,'nota3')">Remover</button>
      </td>
      <td class="nota" name="mediaText">{{a.media}}</td>
   </tr>
</table>